[submodule "source/r_ssd1306_rx"]
	path = source/r_ssd1306_rx
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/r_ssd1306_rx/r_ssd1306_rx.git
[submodule "source/r_simple_glcdc_config_rx"]
	path = source/r_simple_glcdc_config_rx
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/r_simple_glcdc_config_rx/r_simple_glcdc_config_rx.git
	branch = codex/add-initial-fit-module
[submodule "source/r_simple_graphic_rx"]
	path = source/r_simple_graphic_rx
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/r_simple_graphic_rx/r_simple_graphic_rx.git
	branch = codex/add-initial-fit-module
[submodule "source/r_cellular"]
	path = source/r_cellular
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/r_cellular/r_cellular.git
[submodule "source/rm_sfd_rx"]
	path = source/rm_sfd_rx
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/rm_sfd_rx/rm_sfd_rx.git
[submodule "source/rm_littlefs_rx"]
	path = source/rm_littlefs_rx
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/rm_littlefs_rx/rm_littlefs_rx.git
[submodule "source/rm_cli_rx"]
	path = source/rm_cli_rx
	url = https://gitlab.saffti.jp/oss/experiment/embedded/mcu/renesas/rx/fitmodules/rm_cli_rx/rm_cli_rx.git
